.box {
    padding: 5px;
    width: 100px;
    height: 100px;
    margin: 20px;
}

.box1 {
    background-color: lightblue;
    transition: background-color 3s ease;
}

.box1:hover {
    background-color: lightcoral;
}

.box2 {
    background-color: lightgreen;
    transition: transform 3s ease;
}

.box2:hover {
    transform: rotate(45deg);
}

.box3 {
    background-color: rgb(246, 246, 156);
    transition: witdh 3s ease, height 2s ease, background-color 3s ease;
}

.box3:hover {
    width: 200px;
    height: 200px;
    background-color: lightsalmon;
}

.box4 {
    background-color: lightcyan;
    transition: transform 2s ease;
}

.box4:hover {
    transform: translate(1000px, 300px);
}

.box5 {
    background-color: lightpink;
}

.box5:hover {
    width: 200px;
    height: 200px;
    background-color: lightseagreen;
    transition: all 3s ease;
}

p {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 10px;
    background-color: black;
    margin: 20px;
}

nav{
    display: flex;
    gap: 0.5rem;
}
body{
    background-color: blanchedalmond;
}